Testatistics/build/classes/testatistics/TestatisticsGUI$*
/ItemsDB/nbproject/private/
/ItemsDB/build/
/lab0304-just-a-test/nbproject/private/
/lab0304-just-a-test/build/
/image-viewer/nbproject/private/
/image-viewer/build/